@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Open+Sans:wght@500&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Open+Sans:wght@500&family=Poppins:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    --primary-color: #000;
    --font-color: #fff;
}


/* ============== NAVBAR ============== */

.navbar{
    width: 100vw;
    height: 10vh;
    background-color: #161617CC;
    display: flex;
    color: var(--font-color);
    position: fixed;
}

.navbar-logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-logo h1{
    margin-left: 70px;
}

.navbar-item{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-item ul{
    display: flex;
    list-style: none;
}

.navbar-item li{
    margin: 20px;
}


/* ============== MAIN CONTAINER ============== */

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    color: var(--font-color);
}

/* ============== MAIN CONTAINER (CONTENT) ============== */

.brand-detail{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}


.brand-content h1{
    font-size: 4em; 
}

.spinwords{
    height: 100px;
    overflow: hidden;
}

.spinwords span{
    display: block;
    height: 100px;
    animation: spin_words 6s infinite;
    overflow: hidden;
    font-size: 4em;
    margin-right: 7px;
    text-align: center;
}

@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}

.brand-text{
    display: flex;
}
/* ============== MAIN CONTAINER (BUTTON) ============== */
/* .brand-content button{
    margin-top: 50px;
    margin-right: 5px;
    padding: 10px;
    color: var(--font-color);
    background-color: blue;
    border: none;
    border-radius: 24px;
} */

.search{
    width: 100%;
    height: 30%;
    margin-top: 20px;
    padding-left: 40px;
    border: none;
    box-sizing: border-box;
}

.search input{
    
}

/* ============== MAIN CONTAINER (PHOTOS) ============== */

.brand-photo{
    width: 40%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.usatoday.com/gcdn/presto/2018/11/09/USAT/53e4b473-1b5e-44f8-a692-5ac154734f32-IMG_8189.JPG);
    background-size: cover;
    background-position: center;
}

.brand-photo img{
    width: 100%;
    
}

/* ============== MISSION CONTAINER (MAIN) ============== */

.mission-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
}